@model IEnumerable<StarWarsUniverseReview.Models.Review>

@{
    ViewBag.Title = "Star War Universe Travel Reviews";
}


<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/planets.JPG" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Planet Reviews</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>           
                </div>
            </div>
        </div>
        <div class="item">
           <img src="~/images/AT-AT_hoth.jpeg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Battle Site Reviews</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="item">
          <img src="~/images/JediTemple.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Monument Reviews</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->

<!--Navigation-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Star Wars Universe</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Full List", "Index")</li>
                <li>@Html.ActionLink("Add Your Review", "Create")</li>
                <li><a href="http://starwars.com">StarWars.com</a></li>
             </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- Title Banner -->
<div class="panel panel-default topBanner">
    <div class="panel-body">
        <h2 class="chgText">@ViewBag.Title</h2><br />
        <h3>
            @Html.ActionLink("Add Your Review", "Create")
        </h3>
    </div>
 </div>

   
     @*Display reviews *@
    <div class="row chngHeight">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Category.Name)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.Title) </h4>
                        <h4>Site Rating: @Html.DisplayFor(modelItem => item.Rating)</h4>
                        <h5>@Html.DisplayFor(modelItem => item.PubDate) </h5>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                        <p>@Html.ActionLink("Edit", "Edit", new { id = item.RevId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RevId })</p>
                        <p class="btn btn-primary" role="button" >@Html.ActionLink("Details", "Details", new { id = item.RevId })</p>
                    </div>
                </div>
            </div>
        }

    </div>
  





